[submodule "src/qcodes_contrib_drivers/drivers/OxfordInstruments/_decsvisa"]
	path = src/qcodes_contrib_drivers/drivers/OxfordInstruments/_decsvisa
	url = https://github.com/sqilab20230201/_decsvisa.git
